name: Run linter
on:
    workflow_dispatch:
        inputs:
            trigger_next:
                description: 'Whether to run the subsequent workflows after triggering this one manully.'
                required: false
                default: false

    push:
        branches: ['master', 'development']
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-node@v2-beta
              with:
                  node-version: 16.x

            - name: npm install
              run: npm ci

            - name: Run linter
              run: npm run lint

            - name: Run unit tests
              if: success()
              uses: peter-evans/repository-dispatch@v1
              with:
                  token: ${{ secrets.REPO_GHA_PAT }}
                  repository: wavilikhin/nest-api
                  event-type: main-02-run-unit-tests
                  client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

            - name: Set final check status
              if: ${{ (github.event_name != 'workflow_dispatch' && failure()) }}
              uses: peter-evans/repository-dispatch@v1
              with:
                  token: ${{ secrets.REPO_GHA_PAT }}
                  repository: wavilikhin/nest-api
                  event-type: main-05-final-check
                  client-payload: '{"success": false}'
